# Dependencies
node_modules

# Environment Files
.env
.env.local
.env.development
.env.production

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea

# OS Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage

# Documentation
README.md